.has-clipboard-copy {
  @extend %fa-icon-after;

  cursor: pointer;
  position: relative;

  &:after {
    content: $fa-var-copy;
    display: none !important;
    background: $brand-accent;
    position: absolute;
    left: 100%;
    top: -2px;
    padding: 5px;
    border-radius: 3px;
    color: $brand-primary;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px $brand-accent;

    &:after {
      display: inline-block !important;
    }
  }

  &.was-copied {
    box-shadow: 0 0 0 2px $state-success;

    &:after {
      display: inline-block !important;
      background: $state-success;
      color: $brand-success;
    }
  }
}


.flyout-menu.js-flyout-menu {
  z-index: 9999;
  flex-direction: column;

  .flyout-is-active & {
    display: flex;
  }

  .flyout-menu__avatar {
    order: -2;
    margin-top: 53px;
    height: 41px;

    .gravatar {
      border-radius: 0;
    }

    + h3 {
      order: -1;
    }
  }
}

.flyout-menu .js-sidebar {

  > ul {

    > li {

      a {

        + br {
          display: none;

          + a {
            border-top: 1px solid rgba(255, 255, 255, .1);
          }
        }
      }
    }
  }

  > .wiki {

    > p:first-child {
      @extend .flash;
      @extend .warning;

      margin: 5px;
    }

    // hide headline of page hierarchy
    > h3 {
      display: none;
    }

    // hide page hierarchy
    .pages-hierarchy {
      display: none;
    }
  }

  #issue_contacts {
    padding-left: 0;
    display: flex;
    flex-direction: column;

    > h3 {
      order: -1;
    }

    .contextual {

      a {
        padding-left: 8px;
        line-height: 40px;
        display: block;
        overflow: hidden;
        height: 40px;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-top: 1px solid rgba(255, 255, 255, .1);
      }
    }

    > ul {

      li {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
        border-top: 1px solid rgba(255, 255, 255, .1);

        .contact {
          display: block;
        }

        #avatar {
          position: absolute;
          left: 1px;
          top: 3px;
        }

        .delete {
          opacity: 1;
          position: absolute;
          right: 3px;
          top: 2px;
        }
      }
    }
  }
}

#sidebar {

  h3,
  .wiki h3 {
    margin-top: $line-height-computed * 1.5;
    font-size: 1.14em;
    color: $text-color;
  }

  > .wiki > p:first-child {
    @extend .flash;
    @extend .warning;
  }

  .wiki .pages-hierarchy {

    .pages-hierarchy {
      border-left: 0;
    }
  }
}

#footer {
  display: none;
}

div.additionals-footer {
  display: block;
  margin: 0 $padding-side 0 $padding-side;
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed / 2;
  border-top: 1px solid $gray-400;
  color: $gray-600;
  font-size: $font-size-small;
  text-align: left;
}

span.private,
.badge-private {
  background: $brand-danger;
}

.private-notes {
  > div {
    border-left-color: $brand-danger;

    h4::before {
      border-right-color: $brand-danger;
    }
  }
}

span.private {
  background: $brand-danger;
}

.ui-dialog {

  &.ui-front {
    // fixes an !important in contacts plugin to lift above sticky header
    z-index: 10003 !important;
  }
}


.controller-account {

  &.action-login {

    #header {

      h1 {

        @media screen and (max-width: $redmine-responsive-max) {
          display: block !important;
          white-space: nowrap;
          overflow: hidden;
          color: $blue;
        }
      }
    }

    #content {
      display: flex;
      flex-direction: column;

      .login-additionals {
        order: -1;
        max-width: none;
        width: auto;

        @media screen and (min-width: 599px) {
          width: 24em;
          text-align: center;
        }

        h2 {
          margin: 1em auto 0.5em auto;

          @media screen and (min-width: 599px) {
            margin-bottom: 0;
          }
        }

        .wiki-anchor {
          display: none;
        }
      }

      .flash {
        order: -2;
      }

      #login-form-openid {
        box-sizing: border-box;
        width: 24em;
        padding: 20px;
        border: 1px solid #dae3e6;
        border-radius: 3px;
        background-color: #f9fbfb;
        box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 3px 8px rgb(0 0 0 / 4%);
        margin-top: 2em;

        @media all and (max-width: 599px) {
          width: 100%;
        }

        &::before {
          content: "Login mit mitho®";
          display: block;
          font-weight: $font-weight-bold;
          margin-bottom: 5px;
        }

        #login-submit-openid {
          display: block;
          width: 100%;
          padding: 6px 0;
          border-left: 5px solid transparent;
          background-image: url(../images/mitho-sso.png);
          background-repeat: no-repeat;
          background-position: left center;
          background-size: auto 100%;
          margin: 0;
        }
      }
    }
  }

  &.action-oic_local_logout {

    .oic-logged-out {
      box-sizing: border-box;
      width: 24em;
      padding: 20px;
      border: 1px solid #dae3e6;
      border-radius: 3px;
      background-color: #f9fbfb;
      box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 3px 8px rgb(0 0 0 / 4%);
      margin: 2em auto 3em auto;

      @media all and (max-width: 599px) {
        width: 100%;
      }
    }
  }
}



// Redmine Mentions
.dropdown-menu.textcomplete-dropdown {
  border-radius: 3px;
  box-shadow: $panel-shadow;
  margin-left: -14px;
  margin-top: 6px;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    top: -8px;
    left: 4px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 0;
    border-bottom-color: $btn-default-border;
    pointer-events: none;
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    top: -7px;
    left: 4px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top: 0;
    border-bottom-color: $btn-default-bg;
    pointer-events: none;
  }

  .textcomplete-item {
    background: $btn-default-bg;
    line-height: $input-height-base;
    padding: 0;

    &:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &:hover,
    &.active {
      background-color: $brand-primary;
      color: $brand-text;
    }

    a {
      color: inherit;
      display: block;
      text-decoration: none;
      padding: 3px 12px;
    }
  }
}

.textoverlay-wrapper {

  .textoverlay {
    // like .wiki
    font-size: 14px;
    line-height: 1.6;

    span {
      background: $brand-primary !important;
      opacity: 0.3;
      position: relative;
    }
  }
}

.controller-contacts {

  div.contact.details {
    background: $gray-100;
  }

  table.contacts {

    a {
      color: inherit;

      &:hover,
      &:focus,
      &:active {
        color: $link-hover-color;
      }
    }

    &.index {

      h1 {
        color: $text-color;
      }
    }
  }

  table.note_data {

    td.name {

      h4 {
        letter-spacing: 0;
        font-weight: $font-weight-normal;
      }
    }
  }

  table.contact.sidebar {

    tr {

      th {
        padding-top: 0;
        vertical-align: top;
        padding-bottom: 5px;

        + td {
          padding-left: 10px;
          padding-bottom: 5px;
        }
      }
    }
  }

  #sidebar {
    // hide ugly hard-coded texts
    visibility: hidden;

    > * {
      visibility: visible;
    }
  }

  &.action-index {

    #sidebar {

      // hide ad links
      > h3:first-child {
        display: none;

        + ul {
          display: none;

          + h3 {
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.theme-Purplemine2 {

  #top-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
  }

  #header {
    position: fixed;
    height: 50px;
    margin-top: 0;
    top: 27px;
    left: 0;
    right: 0;
    z-index: 9999;

    h1 {
      background-size: $logo-image-width $logo-image-height;
    }

    &::after {
      display: block;
      position: absolute;
      top: 100%;
      left: 0;
      height: 39px;
      width: 100%;
      z-index: 0;
      background: $main-menu-bg;
      border-bottom: 1px solid $main-menu-border;
    }

    #main-menu {
      z-index: 1;
    }
  }

  #main {
    padding-top: 117px;
  }

  .gotobottom,
  .gototop {
    @include fa-icon();

    display: block;
    background: $top-menu-bg;
    color: $top-menu-bg;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9998;
    overflow: hidden;
    padding: 0;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    border-radius: 2px;
    opacity: 0.5;
    border: 0;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &::before {
      content: $fa-var-chevron-up;
      display: block;
      color: $white;
    }
  }

  .gotobottom {
    right: 80px;

    &::before {
      content: $fa-var-chevron-down;
    }
  }

  .cross-links {
    position: fixed;
    left: 10px;
    bottom: 10px;
    white-space: nowrap;
    text-align: left;
    z-index: 1002;

    .cross-link {
      float: left;
      clear: left;
      background: $blue;
      color: $white;
      padding: 0 10px;
      font-size: 12px;
      text-align: center;
      line-height: 22px;
      border-radius: 2px;
      opacity: 0.6;
      text-decoration: none;
      margin-left: 10px;
      margin-bottom: 10px;
      overflow: hidden;
      max-width: 200px;
      text-overflow: ellipsis;

      .label-prefix {
        display: none;
        font-weight: normal;
      }

      @media screen and (min-width: $redmine-responsive-min) {
        font-size: 14px;
        line-height: 30px;

        .label-prefix {
          display: inline;
        }
      }

      &:hover,
      &:focus {
        opacity: 1;
      }

      &::before {
        @include fa-icon();

        font-size: inherit;
        padding-right: 5px;
        content: $fa-var-book;
      }

      &.type-ticket::before {
        content: $fa-var-ticket;
      }
    }
  }

  @media screen and (max-width: $redmine-responsive-max) {

    .flyout-menu + div {

      #header {
        top: 0;

        &::after {
          display: none;
        }
      }
    }
  }
}

#project-jump .drdn-trigger {
  padding-right: 20px;
}

#search-form {

  a.icon-checked[onclick] {

    &::after {
      content: attr(title);
    }
  }
}

#top-menu {
  padding-top: 5px;
  padding-bottom: 5px;

  > ul {

    > li:first-child {

      a {
        position: relative;
        display: inline-block;

        &::after {
          display: block;
          content: "";
          position: absolute;
          width: 100%;
          height: 72px;
          top: 0;
          left: 0;
        }
      }
    }
  }

  a {

    &[href*="/mitho-intern/wiki"] {
      color: shade($blue, 300);
    }

    &.user {
      color: shade($blue, 300);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

#main-menu {

  &.tabs {

    > ul {

      > li {

        > a {

          &.boards,
          &.wiki {
            color: $link-hover-color;
            font-weight: 500;
          }
        }
      }
    }
  }
}

#top-menu,
#header {

  .wiki-flyout-anchor {
    position: relative;
    display: none;

    .wiki-flyout {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px 20px 20px 20px;
      opacity: .96;

      ul {
        list-style: none;
        padding-left: 0;
      }

      li {
        display: block;
        float: none;
        line-height: 1.5em;
      }

      > ul {
        display: flex;
        flex-direction: row;

        > li {
          padding-right: 20px;
          flex: 1;

          a {
            display: block;
            font-weight: normal;
          }

          > a {
            font-weight: bold;
          }

          > ul {
            columns: 2;
          }
        }
      }
    }
  }

  &#top-menu .wiki-flyout {
    background: $top-menu-bg;
    top: 20px;

    a {
      color: $top-menu-link;
    }
  }

  &#header .wiki-flyout {
    background: $main-menu-bg;
    top: 117px;
    border-bottom: 1px solid $main-menu-border;

    a {
      color: $main-menu-link;
    }
  }

  li.flyout-active > .wiki-flyout-anchor {
    display: block;
  }
}

div.wiki {

  pre {
    padding: 4px 8px;
    border: 1px solid rgba($gray-500, .45);
  }

  #wiki_extentions_header {
    display: block;
    border: 1px solid $gray-400;
    background-color: $toc-bg;
    border-radius: 3px;
    float: none;
    width: auto;
    margin: 30px 0 30px  0;
    font-size: 14px;
    padding-top: 10px;
    min-height: 150px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.07);

    > p {
      padding: 0 15px;
      margin-bottom: 0;
    }

    .last-updated-by {
      white-space: nowrap;
    }

    .toc {
      color: $text-color;
      padding: 0 15px;
      margin: 0;
      border: 0;
      border-radius: 2px;
      font-size: inherit;
      max-width: 90%;
      width: 90%;
      box-shadow: none;

      > li:first-child {
        padding-bottom: 3px;
        border-bottom: 1px dotted $gray-400;
        margin-bottom: 3px;
        text-transform: uppercase;
      }

      ul {
        font-size: inherit;
      }

      + p {
        padding-top: 15px;
        padding-bottom: 10px;
      }
    }

    @media screen and (min-width: $redmine-responsive-min) {
      float: right;
      width: 380px;
      margin-left: 30px;
      margin-top: 0;
      padding-bottom: 50px;

      .toc {
        min-height: 150px;

        + p {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}

@if $enable-sidebar-toggler {
  .sidebar-toggler {
    display: none;
    top: 134px;
    width: 12px;
    height: 30px;
    background-repeat: no-repeat;

    @media screen and (min-width: $redmine-responsive-min) {
      display: block;
    }
  }
}
