$use-logo: true;

$blue: #008ACB;
$gray: hsl(hue($blue), 20%, 85%);
$brand-primary: $blue;

$body-bottom-padding: 65px;

$top-menu-bg: #464D5F;
$top-menu-text: $brand-text;
$top-menu-link: $brand-text;

$logo-image-width: 35px;
$logo-image-height: 35px;
$logo-position-horizontal: 20px;

$panel-color: $gray-900;
